$brightRedColor: #9f173d;
$pinkColor: #febed5;
$backgroundHeight: 1090px;
$breakpointPhone: '(min-width: 320px)';
$breakpointTablet: '(min-width: 768px)';
$breakpointDesktop: '(min-width: 1100px)';
$whiteColor: #fff;
$blackColor: #000;
$backgroundURL: '../images/background.png';
$chiselURL: '../images/chisel.png';
$shavingURL: '../images/shavings.png';